.BlogParent {
  display: flex;
}

.Frooti {
  margin-top: 35px;
  
}
.yoyo {


  display: grid;
  grid-template-columns: 50% 50% ;
  
}

.yoyo123{

  position:relative;
  text-align: center;

  margin: 80px auto;
}

.footri{
  position: fixed;
  bottom: 0;
}

.BlogChild {
  background-color: white;
  border-width: 10px solid;
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 25px 25px 51px #949494, -25px -25px 51px #ffffff;
}



